//==========================

@mixin font-weight($weight) {
  font-weight: $weight;
}

//==========================

@for $i from 1 through 9 {
  .is-#{100 * $i} {
    @include font-weight(100 * $i)
  }
}
h1,h2,h3,h4{
  letter-spacing: -1px;
}
h5,h6{
  letter-spacing: -0.5px;
}
.is-size-1{
  font-size: $h1-font-size;
}
.is-size-2{
  font-size: $h2-font-size;
}
.is-size-3{  
  font-size: $h3-font-size;
}
.is-size-4{
  font-size: $h4-font-size;
}
.is-size-5{
  font-size: $h5-font-size;
}
.is-size-6{  
  font-size: $h6-font-size;
}
                
.word-wrap-anywhere{
  word-wrap: anywhere;
}

.is-clickable:hover{
  cursor: pointer;
}
.text-smaller{
  font-size: 0.8rem;
}
.text-smallest{
  font-size: 0.68rem;
  // font-size: 0.75em;
}

.has-background-image{
  background-size: cover;
  background-position: center center;
  & > .jumbotron {
    background: $light;
    background: -moz-linear-gradient(45deg, $primary 0%, rgba(5,5,5,0.75) 100%);
    background: -webkit-linear-gradient(45deg, $primary 0%, #050505bf 100%);
    background: linear-gradient(45deg, $primary 0%, rgba(5,5,5,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$primary",endColorstr="#050505",GradientType=1);
  }
}

.custom-control.custom-checkbox.form-check-inline{
  display: inline-flex;
  align-items: center;
  margin-right: 0.75rem;
}

.bg-reached{
  background-color: #2eda54;
}
.bg-ongoing{
  background-color: #ffa51e;
}
.bg-delayed{
  background-color: #f15454;
}
.bg-inactive{
  background-color: #7e7e7e;
}
.bg-ultralight{
  background-color: $gray-100;
}
.text-reached{
  color: #2eda54;
}
.text-ongoing{
  color: #ffa51e;
}
.text-delayed{
  color: #f15454;
}
.text-inactive{
  color: #7e7e7e;
}

.tiptap-editor-content .ProseMirror{
  display: block;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  color: #7b8a8b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
  p:last-child{
    margin-bottom: 0;
  }
}

.tiptap-editor-content .ProseMirror-focused{

  color: #7b8a8b;
  background-color: #fff;
  border-color: #597ea2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25);
  
}

// label {
//   font-weight: 800;
// }

.menububble {
  position: absolute;
  display: flex;
  z-index: 20;
  background: $gray-900;
  border-radius: 5px;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  &__button {
    display: inline-flex;
    background: transparent;
    border: 0;
    color: $white;
    padding: 0.2rem 0.5rem;
    margin-right: 0.2rem;
    border-radius: 3px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: rgba($white, 0.1);
    }

    &.is-active {
      background-color: rgba($white, 0.2);
    }
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__input {
    font: inherit;
    border: none;
    background: transparent;
    color: $white;
  }
}


.header-objective {
  height: 100px;
  &.header-default{
    background: url('/img/default-background.png');
    background-repeat: repeat-x;
  }
}


.image{
  display: block;
  position: relative;
}

.is-centered{
  margin: 0 auto;
}

.app-portal-header {
  background: url('/img/citybg.jpg');
  background-size: cover;
  background-position: center center;
  .app-portal-header-overlay {
    height: 200px;
    background-color: transparentize($primary, 0.25);
  }
}
.push-to-header{
  margin-top: -150px
}

#app{
  background-color: #f2f2f2;
  padding-bottom: 75px;
}